<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect retired MICTA membership page to home" stopProcessing="true">
          <match url="^about/members-of-micta/?$" ignoreCase="true" />
          <action type="Redirect" url="/" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="Redirect retired blog and unclear legacy content to home" stopProcessing="true">
          <match url="^blog(/.*)?$" ignoreCase="true" />
          <action type="Redirect" url="/" appendQueryString="false" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
